@media screen and (max-width: 1800px) {

  /* diversified-lr-block */
  .diversified-lr-image-wrapper {
    /* width: 722px !important; */
    height: 720px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .banner__box-item .banner__heading {
    /* margin: 62px auto; */
    font-size: 44px !important;
  }

  .diversified-lr-blocks-heading {
    margin: 62px auto !important;
    font-size: 44px !important;
  }

  /* .diversified-lr-blocks */
  .diversified-lr-blocks-banner__box {
    justify-content: space-between !important;
    flex-wrap: wrap;
    min-width: unset !important;

  }

  .diversified-lr-blocks-banner__content {
    padding: 44px 20px 36px !important;
  }

  .lr-block-component__button .button {
    padding: 14px 18px 14px 28px !important;
    font-size: 24px !important;
  }

  .bottom-rotation-list {
    margin: 50px auto !important;
    height: 260px !important;
  }


  .bottom-rotation-list-box {
    height: 260px !important;
  }

  .bottom-rotation-item {
    width: 454px !important;
    height: 260px !important;
  }

  /* with_bg_card-item */
  .with_bg_card-item {
    height: 960px !important;
  }

  /* bottom-with-bg-image */
  .bottom-with-bg-image-content .heading {
    font-size: 46px !important;
  }

  .bottom-with-bg-image-content {
    padding: 90px 0 78px !important;
  }

  .banner-bottom-info-item-box img {
    width: 52px;
    height: 52px;
  }

  /* lr-block-new */
  .lr-block-new {
    margin: 46px auto !important;
    padding: 56px 22px !important;
  }

  .top-heading {
    font-size: 50px !important;
    margin-top: 60px !important;

  }

  .top-body-item .img-wrapper {
    width: 550px;
    height: 370px;
  }

  .only-img {
    width: 696px;
    height: 462px;
  }

  .lr-block-new-bottom-body .bottom-body-item {
    width: 330px;
    margin-top: 76px;
  }

  .bottom-body-item .button {
    padding: 14px 18px 14px 28px;
    font-size: 22px !important;
    max-width: 210px !important;

  }

  .bottom-body-item:last-child {
    width: 210px !important;
  }

  /* rich-text-new */
  .rich-text-new__heading {
    font-size: 42px !important;
  }


  .yellow-boder {
    margin: 18px auto 34px;
    width: 44px;
  }

  /* banner-component-new */
  .banner-component-bottom-card-item {
    width: 310px !important;
    margin: 12px 14px;
  }

  .card-item-heading {
    font-size: 20px !important;
  }

  .card-item-subtitle {
    font-size: 18px !important;
  }

  /* banner-new-rotation */
  .banner-new-rotation-button {
    font-size: 20px !important;
    padding: 0 10px;
  }

  .banner-component__content h2 {
    font-size: 52px !important;
  }

  .banner__text_body {
    font-size: 22px !important;
    margin: 30px auto !important;
  }

  /* only-text-mullited */
  .only-card-mullited-item {
    width: 28% !important;
    margin: 32px 2.6% !important;
  }

  .text-only-mullited__heading {
    font-size: 26px !important;
  }

  /* lr_block_rotation */
  .lr_block_rotation_bannerBox {
    height: 976px !important;
  }

  /* with_bg_card_placediy */
  .with_bg_card_placediy .right-bottom {
    right: 38px !important;
    bottom: 38px !important;
  }

  .with_bg_card_placediy .left-bottom {
    left: 38px !important;
    bottom: 38px !important;
  }

  .with_bg_card_placediy-item {
    height: 742px !important;
  }

  .with_bg_card_placediy-item-wrapper h2 {
    font-size: 36px !important;
  }

  /* podx-go-card-float */
  .podx-go-card-float-item {
    width: 236px !important;
    height: 176px !important;
  }

  .podx-go-card-float-item img {
    max-width: 44px !important;
  }

  .podx-go-card-float-item .text-wrapper {}


  /* podx-go-card */
  /* .podx-go-card-float {
    padding: 88px 0 !important;
  } */

  .podx-go-card-head {
    margin: 38px auto;
  }

  .podx-go-card-rotation-title {
    font-size: 36px !important;
  }

  .podx-go-card-subtitle {
    font-size: 20px !important;
  }

  .podx-go-card-rotation {
    padding: 88px 0 !important;
    height: 546px;
  }

  .podx-go-card-rotation-item {
    width: 294px;
    height: 294px;
  }

  /* going-tiny__blocks */
  .going-tiny__heading {
    font-size: 42px !important;
  }


  /* diversified-and-multi-column */
  .diversified-and-multi-column {
    margin: 82px 0 !important;
    padding: 92px 0 !important;
  }

  .diversified-and-multi-column-heading {
    margin-bottom: 92px !important;
  }

  .diversified-and-multi-column-item {
    width: 300px !important;
    height: 350px !important;
  }

  .diversified-and-multi-column-item img {
    height: 54px !important;
    max-width: 54px !important;
    margin: 0 auto 48px !important;
  }
}

@media screen and (max-width: 1600px) {

  /* diversified-lr-block */
  .diversified-lr-image-wrapper {
    /* width: 604px !important; */
    height: 606px !important;
  }

  .banner__box-item .banner__heading {
    font-size: 38px !important;
  }

  .diversified-lr-blocks-heading {
    margin: 52px auto !important;
    font-size: 38px !important;
  }

  .diversified-lr-block_text_body {
    font-size: 20px !important;
    /* margin: 30px auto !important; */
  }

  .lr-block-component__button .button {
    padding: 10px 16px 10px 24px !important;
    font-size: 20px !important;
  }

  .bottom-rotation-list {
    margin: 30px auto !important;
    height: 224px !important;
  }

  .bottom-rotation-list-box {
    height: 224px !important;
  }

  .bottom-rotation-item {
    width: 390px !important;
    height: 224px !important;
  }

  /* .lr-block-component__button .button {
    padding: 12px 16px 12px 24px !important;
    font-size: 20px !important;
  } */


  /* with_bg_card-item */
  .with_bg_card-item {
    height: 822px !important;
  }

  /* bottom-with-bg-image */
  .bottom-with-bg-image-content {
    padding: 76px 0 68px !important;
  }

  .bottom-with-bg-image-content .heading {
    font-size: 40px !important;
  }

  .banner-bottom-info-item-box p {
    font-size: 18px !important;
  }

  .banner-bottom-info-item-box img {
    width: 44px;
    height: 44px;
  }

  /* lr-block-new */
  .lr-block-new {
    margin: 40px auto !important;
    padding: 48px 20px !important;
  }

  .top-heading {
    font-size: 44px !important;
    margin-top: 50px !important;
  }

  .top-body-item .img-wrapper {
    width: 470px;
    height: 316px;
  }

  .only-img {
    width: 576px;
    height: 396px;
  }

  .lr-block-new-bottom-body .bottom-body-item {
    width: 284px;
    margin-top: 66px;
  }

  .bottom-body-item .head {
    font-size: 20px !important;
  }

  .bottom-body-item .text {
    font-size: 20px !important;
  }

  .bottom-body-item .button {
    padding: 12px 16px 12px 24px;
    font-size: 22px !important;
    max-width: 200px !important;
    top: 10%;

  }

  .bottom-body-item:last-child {
    width: 200px !important;
  }

  /* rich-text-new */
  .rich-text-new__heading {
    font-size: 36px !important;

  }

  .rich-text-new__text {
    font-size: 18px !important;
  }

  .yellow-boder {
    margin: 14px auto 30px;
    width: 38px;
  }

  /* banner-component-new */
  .banner-component-bottom-card-item {
    width: 260px !important;
    margin: 10px 12px;
  }

  .banner-component-bottom-card-item .yellow-border {
    margin: 16px 0;
  }

  .card-item-heading {
    font-size: 18px !important;
  }

  .card-item-subtitle {
    font-size: 16px !important;
    line-height: 32px !important;
  }

  /* banner-new-rotation */
  .banner-new-rotation-button {
    font-size: 18px !important;
    padding: 0 10px;
  }

  .banner__right_bottom_info_btn {
    padding: 14px 24px !important;
  }

  .banner-component__content h2 {
    font-size: 46px !important;
  }

  .banner-component-text {
    font-size: 20px !important;
  }


  /* only-text-mullited */
  .only-card-mullited-item {
    /* width: 314px !important; */
    margin: 26px 2.5% !important;
  }

  .text-only-mullited__heading {
    font-size: 24px !important;
  }

  /* lr_block_rotation */
  .lr_block_rotation_bannerBox {
    height: 836px !important;
  }

  .banner__text_body {
    font-size: 20px !important;
    margin: 26px auto !important;
  }

  /* with_bg_card_placediy */
  .with_bg_card_placediy .right-bottom {
    right: 34px !important;
    bottom: 34px !important;
  }

  .with_bg_card_placediy .left-bottom {
    left: 34px !important;
    bottom: 34px !important;
  }

  .with_bg_card_placediy-item {
    height: 636px !important;
  }

  .with_bg_card_placediy-item-wrapper h2 {
    font-size: 32px !important;
  }

  /* podx-go-card-float */
  /* .podx-go-card-float-item {
    width: 202px !important;
    height: 150px !important;
  } */
  /* .podx-go-card-float {
    padding: 76px 0 !important;
  } */

  .podx-go-card-float-item img {
    max-width: 38px !important;
  }

  .podx-go-card-float-item .text-wrapper {
    font-size: 18px !important;
  }

  .podx-go-card-title {
    /* margin-top: 50px !important; */
  }

  /* podx-go-card */

  .podx-go-card-head {
    margin: 34px auto !important;
  }

  .podx-go-card-rotation {
    padding: 76px 0 !important;
    height: 468px !important;
  }

  .podx-go-card-rotation-title {
    font-size: 30px !important;
  }

  .podx-go-card-subtitle {
    font-size: 18px !important;
  }

  .podx-go-card-rotation-item {
    width: 252px;
    height: 252px;
  }

  /* going-tiny__blocks */
  .going-tiny__heading {
    font-size: 36px !important;
  }

  /* design-tiny-home */
  .design-tiny-home__wrapper {
    padding: 50px 0 !important;
  }

  .design-tiny-home__body {
    font-size: 16px !important;
    padding: 4px 14px !important;
  }

  .icon .right-icon {
    width: 20px !important;
  }

  .design-tiny-home__wrapper .button {
    font-size: 14px !important;
    max-width: 290px !important;
  }

  /* diversified-and-multi-column */
  .diversified-and-multi-column {
    margin: 76px 0 !important;
    padding: 80px 0 !important;
  }

  .diversified-and-multi-column-heading {
    font-size: 36px !important;
    margin-bottom: 80px !important;
  }

  .diversified-and-multi-column-item {
    width: 282px !important;
    height: 282px !important;
  }

  .diversified-and-multi-column-item img {
    height: 46px !important;
    max-width: 46px !important;
    margin: 0 auto 40px !important;
  }

  /* picture-card-item-button */
  .picture-card-item-button {
    font-size: 16px !important;
  }

  .picture-card-item-button img {
    width: 10px !important;
    height: 10px !important;
  }

}



@media screen and (max-width: 1366px) {

  /* diversified-lr-block */
  .diversified-lr-image-wrapper {
    /* width: 520px !important; */
    height: 512px !important;
  }

  .banner__box-item .banner__heading {
    font-size: 32px !important;
  }

  .bottom-rotation-item {
    width: 342px !important;
    height: 196px !important;
  }

  .bottom-rotation-list {
    margin: 20px auto !important;
    height: 196px !important;
  }

  .bottom-rotation-list-box {
    height: 196px !important;
  }

  .diversified-lr-block_text_body {
    font-size: 18px !important;
    margin: 20px auto !important;
  }

  .lr-block-component__button .button {
    padding: 10px 14px 10px 20px !important;
    font-size: 18px !important;
  }

  .diversified-lr-blocks-banner__box {
    justify-content: space-between !important;
    flex-wrap: wrap;
    min-width: unset !important;

  }

  /* .lr-block-component__button .button {
      padding: 10px 16px 10px 24px !important;
      font-size: 20px !important;
    } */
  .diversified-lr-blocks-banner__box .banner__box-item {}

  /* .with_bg_card-item */
  .with_bg_card-item {
    height: 722px !important;
  }

  /* bottom-with-bg-image */
  .bottom-with-bg-image-content {
    padding: 66px 0 58px !important;
  }

  .bottom-with-bg-image-content .heading {
    font-size: 34px !important;
  }

  .banner-bottom-info-item-box img {
    width: 40px;
    height: 40px;
  }

  /* lr-block-new */
  .lr-block-new {
    margin: 24px auto !important;
    padding: 42px 18px !important;
  }

  .top-heading {
    font-size: 38px !important;
    margin-top: 44px !important;
  }

  .top-body-item .img-wrapper {
    width: 414px;
    height: 278px;
  }

  .only-img {
    width: 526px;
    height: 348px;
  }

  .lr-block-new-bottom-body .bottom-body-item {
    width: 250px;
    margin-top: 58px;
  }

  .bottom-body-item .head {
    font-size: 20px !important;
  }

  .bottom-body-item .text {
    font-size: 18px !important;
  }

  .bottom-body-item .button {
    padding: 10px 14px 10px 20px;
    font-size: 18px !important;
    max-width: 190px !important;
  }

  .bottom-body-item:last-child {
    width: 190px !important;
  }

  /* rich-text-new */
  .rich-text-new__heading {
    font-size: 32px !important;
  }

  .rich-text-new__text {
    font-size: 16px !important;
  }

  .yellow-boder {
    margin: 12px auto 26px;
    width: 34px;
  }

  /* banner-component-new */
  .banner-component-bottom-card-item {
    width: 230px !important;
    margin: 10px;
  }

  .banner-component-bottom-card-item .yellow-border {
    margin: 14px 0;
  }

  .card-item-heading {
    font-size: 16px !important;
  }

  .card-item-subtitle {
    font-size: 14px !important;
    line-height: 28px !important;
  }

  /* only-text-mullited */
  .only-card-mullited-item {
    /* width: 276px !important; */
    margin: 20px 2.5% !important;
  }

  .text-only-mullited__heading {
    font-size: 20px !important;
  }

  .text-only-mullited__text {
    font-size: 18px !important;
  }

  /* lr_block_rotation */
  .lr_block_rotation_bannerBox {
    height: 736px !important;
  }

  .banner-component__content h2 {
    font-size: 36px !important;
  }

  .banner__text_body {
    font-size: 18px !important;
    margin: 24px auto !important;
  }

  /* with_bg_card_placediy */
  .with_bg_card_placediy-item {
    height: 560px !important;
  }

  .with_bg_card_placediy-item-wrapper h2 {
    font-size: 28px !important;
  }

  .with_bg_card_placediy-item-wrapper div {
    font-size: 18px !important;
  }

  .with_bg_card_placediy .right-bottom {
    right: 30px !important;
    bottom: 30px !important;
  }

  .with_bg_card_placediy .left-bottom {
    left: 30px !important;
    bottom: 30px !important;
  }

  /* podx-go-card-float */
  /* .podx-go-card-float {
    padding: 54px 0 !important;
  } */

  .podx-go-card-float-list {
    top: -50px !important;
  }

  .podx-go-card-float-item img {
    max-width: 34px !important;
  }

  .podx-go-card-float-item .text-wrapper {
    font-size: 16px !important;
  }

  .podx-go-card-title {
    /* margin-top: 50px !important; */
  }

  .podx-go-card-rotation {
    padding: 66px 0 !important;
    height: 412px !important;
  }

  .podx-go-card-rotation-item {
    width: 222px;
    height: 222px;
  }

  /* going-tiny__blocks */
  .going-tiny__heading {
    font-size: 32px !important;
  }

  /* .diversified-lr-image-wrapper {
    font-size: 18px !important;
  } */

  /* diversified-and-multi-column */
  .diversified-and-multi-column {
    margin: 30px 0 !important;
    padding: 40px 0 !important;
  }

  .diversified-and-multi-column-heading {
    font-size: 32px !important;
    margin-bottom: 70px !important;
  }

  .diversified-and-multi-column-item {
    width: 238px !important;
    height: 258px !important;
  }

  .diversified-and-multi-column-item img {
    height: 40px !important;
    max-width: 40px !important;
    margin: 0 auto 36px !important;
  }

  /* design-tiny-home */
  .design-tiny-home__wrapper {
    padding: 30px 0 !important;
  }

  /* .design-tiny-home__body {
    font-size: 16px !important;
  } */

  .icon .right-icon {
    width: 18px !important;
  }

  /* .design-tiny-home__wrapper .button {
    font-size: 14px !important;
    max-width: 290px !important;
  } */

  /*  edge-look-around */
  .edge-look-around .button {
    font-size: 20px !important;
    max-width: 210px !important;
  }

  /* banner-new-rotation */


  .banner__right_bottom_info_btn {
    padding: 10px 20px !important;
  }
}